body {
    font-family: "Roboto", sans-serif;
    color: var#434455;
    background-color: #FFF;
}
a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.logo {
    color:#4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.logo-item {
    color:#2E2F42;
}

.menu {
    color:#2E2F42;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.32px;
}

.menu:hover,
.menu:active {
color: #4D5AE5;
} 

.address {
        color:#434455;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.32px;
            font-style: normal;
}

.main-header {
    color:#FFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
    text-transform: capitalize;
}

.first-section {
    background-color:#2E2F42;
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
    text-align: center;
}

.button {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    background-color: #4D5AE5;
    text-transform: capitalize; 
}

.button:hover,
.button:active {
    color: #4D5AE5;
}

.head-features {
    color:#2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.features {
color: #434455;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.32px
}

.second-section {
    background-color: #F4F4FD;
}

.team-header { 
    #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.job-title {
    #434455;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.team-item  {
background-color: #FFF;
}

.head-portfl {
    #2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.head-srvc {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.txt {
    #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.footer {
    background-color: #2E2F42;
}

.footer-txt {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.logo-item-footer {
    color: #F4F4FD;

}

